:root {
  --base-height-header: 118px;
  --short-height-header: 46px;

  --z-index-header: 10;
  --z-index-button-carousel-navigation: 2;

  --color-text-icon-link-black: #000;
  --color-text-icon-link-blue: #002d96;
  --color-text-menu-wrapper: #666;
  --color-text-menu-wrapper-hover: #002d96;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: OpenSans-Regular, 'OpenSans-Regular', Arial, sans-serif !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}